.categories-switcher-container{
    display: flex;
    justify-content: center;
}
.categories-container{
    margin: auto;
    max-width: 80%;
    .category{
        display: flex;
        justify-content: space-between;
        padding: .5rem;
    }
}
.add-category{
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
}