@import '../../../styles.scss';

.progress-bar{
    display: flex;
    height: 10px;
    .income{
        background: $success;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
    }
    .expense{
        background: $danger;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
    }
}