@import '../../../styles.scss';
button {
    border: 1px solid $border;
    cursor: pointer;
    padding: .5rem .75rem;
    background-color: white;
    outline: none;
    transition: background-color .3s;
    border-radius: 3px;
    &.primary-btn{
        background-color: $primary;
        color: #fff;
        &:hover{
            background-color: $primary-hover;
        }
    }
    &.danger-btn{
        background-color: $danger;
        color: #fff;
        &:hover{
            background-color: $danger-hover;
        }
    }
}