/* You can add global styles to this file, and also import other style files */
html, body, p{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}
$text-primary: #323638;
$text-secondary: #64686A;
$txt-white: white;
$txt-dark:#DCE0E2;

$bg-primary: #F6FAFC;
$bg-white: white;
$bg-dark: #323638;
$bg-darker: #312527;

$danger: #d9534f;
$success: #5cb85c;
$warning: #f0ad4e;
$primary: #0275d8;
$primary-hover: #1386e9;
$danger-hover: #ea645f;
$border: rgba(50, 54, 56, 0.15);

.primary {
   color: $primary;
}

.success{
    color: $success;
}

.danger{
    color: $danger;
}